<!DOCTYPE html>
<html>
<head>
	<link href="css/instantSearch.css" rel="stylesheet"/>
</head>
<body>
	<form id="main" v-cloak>
		<div class="bar">
			<input type="text" v-model="searchString" placeholder="Enter your search terms" />
		</div>
		<ul>
			<li v-for="article in filteredArticles">
				<a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
				<p>{{article.title}}</p>
			</li>
		</ul>
	</form>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
	<script type="text/javascript" src="js/instantSearch.js"></script>
</body>
</html>