
.chart1 {
	border: 5px solid;;
	border-color: orange;
	background-color: teal;
	font-family: arial;
	font-size: 25px;
	fill: white;
}

.buttonex button {
	left: 220px;
/*	position: absolute;
*/	top: 320px;
	width: 80px;
}

