
.chart1 {
	border: 5px solid;;
	border-color: orange;
	background-color: teal;
	font-family: arial;
	font-size: 25px;
	fill: white;
}

.chart2 {
	border: 5px solid;;
	border-color: peru;
	background-color: darkseagreen;
	font-family: arial;
	font-size: 25px;
	fill: white;
}